.main {
  //   transition: margin-left 0.5s ease;
  transition: all 0.55s linear;
}

.main__go--right {
  //   transform: margin-left 0.5s ease;
  overflow-y: hidden;
  transition: all 0.55s linear;
  margin-left: 30rem;
}
