@keyframes bounce {
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes heroArrow {
  0% {
    // opacity: 1;
    transform: translateX(0);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes HeroTitle {
  0% {
    opacity: 0;
  }
}

@keyframes gymCardSlide {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes gymScroll {
  0% {
    opacity: 1;
    top: 84%;
  }
  90% {
    top: 90%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sidebar {
  0% {
    transform: rotateX(75deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.slide-enter,
.slide-exit {
  transition: transform 1000ms ease-out;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter.slide-enter-active {
  transform: translateX(0%);
}

.slide-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(-100%);
}
