// $primary-color: #0ed13b;
// $secondary-color: #09aa2e;
// $alternative-color: #077620;

$dark-primary-color: #388e3c;
$primary-color: #4caf50;
$light-primary-color: #c8e6c9;
$text-icons: #fff;

$accent-color: #009688;
$accent-color-2: #00c853;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #bdbdbd;

$urgent-color: #b60000;

$bg: #f3f8fa;
$white: #fff;
$card-background: #f9f7f6;

$dark-main: #212121;

$green: rgb(11, 204, 108);
