.form__signup {
  // width: calc(100% - 51%);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 9);
  background: rgb(233, 235, 242);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;

  // @include respond(wide-screen) {
  //   width: calc(100% - 53rem);
  //   top: 56%;
  // }

  // @include respond(tab-port) {
  //   width: calc(100% - 13%);
  // }

  // @include respond(phone) {
  //   width: calc(100% - 16%);
  //   top: 53%;
  // }
}
