// background and inner box containers
.finder {
  &__title {
    position: absolute;
    top: -28%;
    left: 50%;
    color: white;
    transform: translateX(-50%);
    font-family: $font-title;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    width: 100%;
    text-align: center;
    @include respond(wide-screen) {
      font-size: 2.5rem;
    }
  }
  &__bg {
    height: 100vh;
    background: rgba(0, 0, 0, 0.95);
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }

  &__inner {
    height: 56vh;
    width: 60vw;
    // background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__navigationarrows {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    font-size: 3.5rem;
    color: white;
    cursor: pointer;
  }

  &__cancel {
    color: white;
    font-size: 4rem;
    display: flex;
    justify-content: flex-end;
    padding: 5rem;
    cursor: pointer;
  }
}

// finder Q1

.finder__q1,
.finder__q2,
.finder__q3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .finder__typeofworkout {
    position: relative;
    cursor: pointer;
    width: 36rem;
    @include respond(wide-screen) {
      width: 25rem;
    }
    &:hover {
      img {
        filter: grayscale(1);
      }
      .choice__description {
        opacity: 1;
      }
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all 0.3s ease-in-out;
    }

    &--crossfit {
      //   cursor: pointer;
      //   width: 36rem;
    }
    &--iron {
      //   cursor: pointer;
      //   width: 36rem;
    }
    &--health {
      //   cursor: pointer;
      //   width: 36rem;
    }
  }
  .finder__duration {
    width: 36rem;
    height: 45rem;
    background: white;
    cursor: pointer;
    @include respond(wide-screen) {
      width: 25rem;
      height: 38rem;
    }

    .choice__icon {
      height: 17%;
      position: relative;
      top: 35%;

      display: flex;
      justify-content: center;
      width: 100%;
    }

    .choice__title {
      font-family: $font-title;
      color: $secondary-text;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
}

.activeChoice {
  border-radius: 3px;
  top: -3px;
  border: 2px solid aqua;
}

// finder q1 description
.choice__description {
  position: absolute;
  top: 40%;
  left: 0%;
  color: white;
  padding: 2rem;
  background: rgba($color: #000000, $alpha: 0.7);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  &--span {
    &:first-child {
      display: block;
      text-align: center;
      font-family: $font-title;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }
  &--crossfit {
  }
  &--iron {
  }
  &--health {
  }

  &--staff {
    height: 38rem;
  }
  &--equipment {
    height: 38rem;
  }
  &--both {
    height: 38rem;
  }
}

.finder__q3 {
}
