.coverHeader {
  height: 60vh;
  position: relative;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.profile {
  width: 80%;
  background: $dark-main;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  z-index: 12;
  padding: 1rem;
  box-shadow: 1px 1px 5px 0 black;

  @include respond(wide-screen) {
    top: 15%;
  }
}

.profile__grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 2rem;
  @include respond(phone) {
    display: block;
  }
}

.profile__sidebar {
  background: $dark-main;
  color: white;
  display: flex;
  flex-direction: column;

  border-right: 1px solid white;
  &--img {
    height: 23rem;
    padding-right: 7px;
    // border-radius: 23px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 1rem;
      // border-radius: 23px;
    }
  }

  &--name {
    padding: 1rem;
    font-family: $font-title;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: white;
    // color: $primary-text;
  }
}

.profile__ul {
  list-style: none;

  // color: white;
  .profile__li {
    position: relative;
    padding: 1.2rem 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    z-index: 3;
    text-transform: uppercase;
    i {
      margin-right: 0.5rem;
    }
    &:hover {
      .profile__link {
        &::before {
          width: 95%;
        }
      }
    }
  }
}

.profile__link {
  &:link,
  &:visited {
    color: white;
    text-decoration: none;
    width: 100%;
    &::before {
      content: '';
      -webkit-clip-path: polygon(0 0, 100% 0, 87% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 87% 100%, 0 100%);
      transition: width 0.7s ease-in-out;
      display: inline-block;
      height: 100%;
      width: 0%;
      background-color: #009688;
      position: absolute;
      z-index: -33;
      top: 0;
      left: 0;
    }
  }
}

.profile__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // opacity: 0;
  // grid-gap: 3rem;

  .gymbox {
    border-radius: 10px;
    height: 100%;
    user-select: none;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.979);
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    transform: scale(0.9);
    transition: transform 0.3s ease-in-out, opacity 0.4s ease-in-out;
    &:hover {
      transform: scale(1);
    }
    &:active {
      transform: scale(0.9);
      opacity: 0;
    }
    &__map {
      &:hover {
        transform: scale(0.9);
      }
      &:active {
        transform: scale(0.9);
        opacity: 1;
      }
    }
    p {
      text-align: center;
      font-family: $font-title;
      margin-top: 1.5rem;
      font-size: 2rem;
      text-transform: uppercase;
    }
    &__memberships {
      img {
        height: 12rem;
        border-radius: 50%;
      }
    }

    &__workoutSchedual {
      // background: blue;
      svg {
        height: 10rem;
        width: 100%;
      }
    }

    &__reviews {
      // background-color: green;
      .half-circle {
        width: 200px;
        text-align: center;
        font-size: 6rem;
        height: 100px; /* as the half of the width */
        // background-color: gold;
        border-top-left-radius: 110px; /* 100px of height + 10px of border */
        border-top-right-radius: 110px; /* 100px of height + 10px of border */
        border: 6px solid $accent-color;
        border-bottom: 0;
      }

      p {
        text-align: center;
        font-family: $font-title;
        margin-top: 1.5rem;
      }
    }
  }
}

.gymbox__memberships {
  svg {
    height: 10rem;
    width: 100%;
  }
}

.review__screen {
  .review__undo {
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    i {
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      i {
        transform: rotate(-45deg);
      }
    }

    &:active {
      .reviews__box {
        opacity: 0;
      }
    }
  }
  .reviews__box {
    // transition: all 0.3s ease-in-out;
    &:hover {
      // transform: skewX(-14deg);
    }
  }
}
