.signup-main {
  background-image: linear-gradient(45deg, rgba(black, 0.4), rgba(black, 0.5)),
    url('../../assets/img/signupbg.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 83.8vh;
  @include respond(wide-screen) {
    height: 81vh;
  }
  // @include respond(phone) {
  //   height: 83vh;
  // }
  h1 {
    font-family: $font-title;
    letter-spacing: 0.1rem;
    color: #fff;
    text-transform: capitalize;
    margin-left: 1rem;
    text-align: center;
    position: relative;
    // left: 50%;
    // top: 15%;
    // transform: translate(-50%, -15%);

    @include respond(wide-screen) {
      font-size: 3rem;
    }
    @include respond(phone) {
      font-size: 1.6rem;
      top: 10%;
    }
  }
}

// Form here
.form__signup {
  display: flex;
  flex-direction: column;
  @media only screen and(min-width: 1400px) {
    width: 25%;
  }
}

.signup__progress {
  position: relative;
  display: block;
  margin: 1rem auto;
  width: 100%;
  max-width: 400px;

  .indicator__container {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -10px;
  }

  progress {
    display: block;
    position: relative;
    top: 2px;
    left: 5px;
    -webkit-appearance: none;
    appearance: none;
    background: $green;
    width: 97%;
    height: 5px;
    background: none;
    transition: 1s;
    will-change: contents;
    &::-webkit-progress-bar {
      background-color: #ddd;
      //   background-color: white;
    }

    &::-webkit-progress-value {
      background-color: $green;
      transition: all 0.5s ease-in-out;
    }
  }
}

.form-progress-indicator {
  // position: absolute;
  top: -6px;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: white;
  border: 3px solid #ddd;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  transition-delay: 0.3s;
  will-change: transform;

  &.one {
    left: 0;
  }
  &.two {
    left: 50%;
  }
  &.three {
    left: 97%;
  }
  &.four {
    left: 100%;
  }

  &.active {
    animation: bounce 0.5s forwards;
    animation-delay: 0.5s;
    border-color: $green;
  }
}

.signup__progress--circle {
  border: 2px solid grey;

  height: 50px;
  width: 50px;
  border-radius: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.signup__container {
}

.signup__group {
  position: relative;
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
  label {
    margin-bottom: 0.4rem;
    margin-right: 1rem;
    font-size: 1.9rem;
    font-family: $font-title;
    text-transform: capitalize;
  }
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='date'],
  input[type='hiddin'],
  input[type='number'] {
    padding: 0.3rem;
    border-radius: 4px;
    height: 3.5rem;
    width: 30rem;
    border: none;

    outline: none;
    transition: all 0.2s ease-in-out;
    &:invalid {
      border-bottom: 2px solid $urgent-color;
    }

    &:valid {
      border-bottom: 2px solid $accent-color-2;
    }
    &:focus {
      transform: scale(1.1);
      box-shadow: 1px 1px 5px black;
    }
  }

  p {
    font-size: 2rem;
  }
}

// for the question checkbox
.signup__group--container {
  display: flex;
  margin-top: 1rem;
  input[type='checkbox'] {
    height: 32px;
    width: 32px;
    margin-right: 7px;
  }

  select {
    width: 90%;
    height: 32px;
  }
}

// Custom edits for different input types

input[type='date'] {
  &::-webkit-datetime-edit {
    padding: 1rem;
  }
}

// Buttons Here

.form__user--location {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  right: 9px;
  top: 35px;
}
.buttons__group {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.signup__button,
.signup__buttons {
  display: flex;
  &--prev {
    padding: 0.7rem 1.2rem;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    outline: none;
    border: none;
    border-bottom: 2px solid orangered;
    border-radius: 7%;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.2);
      background: orangered;
      color: white;
    }
  }
  &--next {
    padding: 0.7rem 1.2rem;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    outline: none;
    border: none;
    border-bottom: 2px solid $green;
    border-radius: 7%;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.2);
      background: $green;
      color: white;
    }

    &:active {
      i {
        animation: heroArrow 1s ease-in-out;
      }
    }
  }
}

.signup__button {
  justify-content: flex-end;
}

.signup__buttons {
  justify-content: space-between;
}
